<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<resultMap type="Admin" id="resultList">
		<result property="user_id" column="user_id" />
		<result property="name" column="name" />
		<result property="ticket_no" column="ticket_no" />
		<result property="ticket_date" column="ticket_date" />
		<result property="ticket_count" column="ticket_count" />
		<result property="price" column="price" />
		<result property="pay_type" column="pay_type" />
		<result property="state" column="state" />
		<result property="account_no" column="account_no" />
		<result property="user_name" column="user_name" />
	
	</resultMap>
	
	<select id="adminTicketList"  resultMap="resultList">
		select * from v_festival_ticket_user
	</select>
	
	<select id="ticketgetListCount" resultType="_int">
	<![CDATA[
	select count(*) from v_festival_ticket_user
		]]>
	</select>
	
	<select id="ticketSelectList" parameterType="AdminTicketPage" resultMap="resultList">
	<![CDATA[
	select * from (
				select rownum rnum, user_id, name, ticket_no, ticket_date, 
				ticket_count, price, pay_type, state, account_no, user_name 
				from (select * from v_festival_ticket_user 
				order by ticket_date asc))
				where rnum >= #{startRow} and rnum <= #{endRow}
	]]>
	</select>
	
	<select id="searchList" parameterType="string" resultMap="resultList">
	select * from v_festival_ticket_user 
	<choose>
	<when test="filter == 'all'">
	where user_id like '%'||#{searchTF}||'%' 
	or name like '%'||#{searchTF}||'%' 
	or ticket_no like '%'||#{searchTF}||'%' 
	or user_name like '%'||#{searchTF}||'%' 
	or ticket_no like '%'||#{searchTF}||'%' 
	or price like '%'||#{searchTF}||'%' 
	or pay_type like '%'||#{searchTF}||'%' 
	or state like '%'||#{searchTF}||'%' 
	or account_no like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'name'">
	where user_name like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'id'">
	where user_id like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'fname'">
	where name like '%'||#{searchTF}||'%'
	</when>
	<when test="filter =='tno'">
	where ticket_no like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'price'">
	where price like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'ptype'">
	where pay_type like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'state'">
	where state like '%'||#{searchTF}||'%'
	</when>
	<when test="filter == 'account'">
	where account_no like '%'||#{searchTF}||'%'
	</when>
	</choose>
	</select>
	
	<select id="festivalgetListCount" resultType="_int">
	<![CDATA[
	select count(*) from tb_festival
		]]>
	</select>
	
	<select id="festivalSelectList" parameterType="AdminTicketPage" resultMap="resultList">
	<![CDATA[
	select * from (
        select rownum rnum, name, address, start_date, telephone, 
        manage, read_count, recommend, ticket 
        from (select * from tb_festival 
        order by start_date asc))
        where rnum >= #{startRow} and rnum <= #{endRow};
	]]>
	</select>
	

</mapper>
