<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	
	<resultMap type="Notice" id="resultList">
		<result property="notice_no" column="notice_no" />
		<result property="user_id" column="user_id" />
		<result property="notice_title" column="notice_title" />
		<result property="notice_date" column="notice_date" />
		<result property="notice_content" column="notice_content" />
		<result property="original_filepath" column="original_filepath" />
		<result property="rename_filepath" column="rename_filepath" />
		
	</resultMap>
	
	<select id="noticeList"  resultMap="resultList">
	select * from tb_notice order by notice_no asc
	</select>
	
	<select id="noticeDetail" parameterType="_int" resultMap="resultList">
	<![CDATA[
	select * from tb_notice where notice_no = #{notice_no}
	]]>
	</select>
	
	<insert id="noticeInsert" parameterType="Notice" flushCache="true" statementType="PREPARED" useGeneratedKeys="true">
	
	insert into tb_notice 
	<choose>
	<when test="original_filepath != null">
	values (notice_seq.nextval, 'admin', #{notice_title}, DEFAULT, #{notice_content}, #{original_filepath}, #{rename_filepath})
	</when>
	
	<otherwise>
	values (notice_seq.nextval, 'admin', #{notice_title}, DEFAULT, #{notice_content}, null, null)
	</otherwise>
	</choose>
	</insert>

	<delete id="noticeDelete" parameterType="_int" flushCache="true"
		statementType="PREPARED">
		
		delete from tb_notice where notice_no = #{notice_no}
		
	</delete>
	
	<update id="noticeUpdate" parameterType="Notice" flushCache="true"
		statementType="PREPARED">
		update tb_notice set notice_title = #{notice_title}, 
		notice_content = #{notice_content},
		original_filepath = #{original_filepath}
		where notice_no = #{notice_no}
	</update>
	
	<select id="noticeSelect"  resultMap="resultList">
	select * from tb_notice where notice_no = #{notice_no}
	</select>
	

</mapper>
